


<div class="flex flex-col gap-5">
  <div class="flex flex-col self-start m-10 ">
    <p class="text-[36px] font-bold text-yellow-500">
      Produtos
        </p>
        <hr class=" border-yellow-500 border-b-2 w-[200px]"/>

<div class="my-5 ">
  <p-button icon="pi pi-plus" label="Criar Produto" (onClick)="abrirProdModal()"></p-button>
</div>

<div class="mx-10">
  <p-table [value]="produtos"
[globalFilterFields]="['nomeproduto', 'descricao', 'preco', 'categoria']"
selectionMode="single"
[(selection)]="selectedProd"
[paginator]="true"
[rows]="5"
[rowsPerPageOptions]="[5, 10, 25, 50, 100]"
(onRowSelect)="prodInfo()">
<ng-template pTemplate="header">
  <tr>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Preço</th>
    <th>Imagem</th>
    <th>Categoria</th>
  </tr>
  <tr>
    <th>
      <p-columnFilter type="text" field="nomeproduto"></p-columnFilter>
    </th>
    <th>
      <p-columnFilter type="text" field="descricao"></p-columnFilter>
    </th>
    <th>
      <p-columnFilter type="text" field="preco"></p-columnFilter>
    </th>
    <th>
      <p-columnFilter type="text" field="categoria"></p-columnFilter>
    </th>

  </tr>
</ng-template>
<ng-template pTemplate="body" let-produto>
  <tr [pSelectableRow]="produto">
    <td>{{ produto.nomeproduto }}</td>
    <td>{{ produto.descricao }}</td>
    <td>{{ produto.preco }}</td>
    <td><img [src]="'https://imgmod16.blob.core.windows.net/teste/' + produto.imagem" [alt]="produto.nomeproduto" width="100" class="shadow-4 w-[100px] h-[60px]" /></td>
    <td>{{ produto.categoria }}</td>
  </tr>
</ng-template>
</p-table>


<!--Criar-->
<p-dialog header="Header" [(visible)]="prodModal" [modal]="true"  [style]="{ width: '50vv'}">
  <ng-template pTemplate="header">
      <span class="text-xl font-bold">Criar Produto</span>
  </ng-template>
  <div class="flex flex-row justify-between">
<div class="flex flex-col items-center justify-center gap-12 mr-10">
  <input type="text" placeholder="Nome do Produto" [(ngModel)]="nomeproduto" [ngModelOptions]="{standalone: true}" pInputText />
  <input type="text" pInputText placeholder="Descrição do Produto" [(ngModel)]="descricao" [ngModelOptions]="{standalone: true}"/>
  <p-inputNumber placeholder="Preço" [(ngModel)]="preco" [ngModelOptions]="{standalone: true}"mode="currency" currency="EUR" locale="pt-PT"> </p-inputNumber>
  <input type="file" class="text-white border-2 border-yellow-500 rounded-md file:bg-yellow-500 file:border-yellow-500 file:text-black w-[200px]" (change)="onFileSelected($event)"/>
</div>
<div class="flex flex-col">
<p-listbox [options]="categorias" optionLabel="categoria" [style]="{'width':'15rem'}"
emptyMessage='Erro' (onClick)="id_categoria = $event.value.id_categoria"></p-listbox>
<div>
  <p class="text-sm font-bold text-yellow-500">
    Preview Imagem
      </p>
      <hr class=" border-yellow-500 border-b-2 w-[200px] mb-4"/>
        <img src="{{filepath}}" class="w-[150px] h-[110px]">
</div>
</div>
</div>
  <ng-template pTemplate="footer">
      <div class="flex flex-row justify-center">
        <p-button icon="pi pi-check" class="" label="Criar" (onClick)="criarProd()" styleClass="mr-10"></p-button>
        <p-button icon="pi pi-times"   label="Cancelar" (onClick)="prodModal = false"></p-button>
      </div>
  </ng-template>
</p-dialog>


<!--Update-->
<p-dialog header="Header" [(visible)]="uProdModal" [modal]="true"  [style]="{ width: '50vv'}">
  <ng-template pTemplate="header">
      <span class="text-xl font-bold">Atualizar Produto</span>
  </ng-template>
  <div class="flex flex-row justify-between" *ngIf="selectedProd">
<div class="flex flex-col items-center justify-between gap-12 mr-10">
  <input type="text" pInputText [(ngModel)]="this.selectedProd!.nomeproduto" [ngModelOptions]="{standalone: true}" />
  <input type="text" pInputText [(ngModel)]="this.selectedProd!.descricao" [ngModelOptions]="{standalone: true}" />
  <p-inputNumber type="text" [(ngModel)]="this.selectedProd!.preco" [ngModelOptions]="{standalone: true}" />
</div>
<div class="flex flex-col">
<p-listbox [options]="categorias" optionValue="id_categoria" optionLabel="categoria" [style]="{'width':'15rem'}"
emptyMessage='Erro' [(ngModel)]="this.selectedProd!.id_categoria"
[ngModelOptions]="{standalone: true}"></p-listbox>
<div class="mt-12">
  
  <span class="text-sm font-bold text-yellow-500">Preview Imagem:</span>
  <hr class=" border-yellow-500 border-b-2 w-[50px]"/>
  <img class="shadow-4  w-[240px] h-[150px]" src="https://imgmod16.blob.core.windows.net/teste/{{selectedProd.imagem}}" alt="Imagem de visualização">
</div>

</div>
  </div>
  <ng-template pTemplate="footer">
      <div class="flex flex-row justify-center">
        <p-button icon="pi pi-check" label="Atualizar" (onClick)="updateProd()"  ></p-button>
        <p-button icon="pi pi-trash" label="Apagar" (onClick)="deleteProd()"  ></p-button>
        <p-button icon="pi pi-times"  label="Cancelar" (onClick)="uProdModal = false"></p-button>
      </div>
  </ng-template>
</p-dialog>
</div>
</div>


