
<p-table [value]="resinfo" 
class="w-1/2"
  [globalFilterFields]="['nome', 'nome_restaurante', 'data', 'horas','nPessoas','situacao','observacoes']"
  selectionMode="single"
  [(selection)]="selectedRes"
  [paginator]="true"
  [rows]="5"
  [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
  (onRowSelect)="gerirRes()">
  <ng-template pTemplate="header">
    <tr>
      <th>Cliente</th>
      <th>Restaurante</th>
      <th>data</th>
      <th>Hora</th>
      <th>Nº de Pessoas</th>
      <th>Situação</th>
      <th>Observações</th>
    </tr>
    <tr>
      <th >
        <p-columnFilter type="text" field="nome"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="nome_restaurante"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="data"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="horas"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="nPessoas"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="situacao"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="observacoes"></p-columnFilter>
      </th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-resinfo>
    <tr [pSelectableRow]="resinfo">
      <td>{{ resinfo.nome }}</td>
      <td>{{ resinfo.nome_restaurante }}</td>
      <td>{{ resinfo.data }}</td>
      <td>{{ resinfo.horas }}</td>
      <td>{{ resinfo.nPessoas }}</td>
      <td><p-tag [rounded]="true" [severity]="estadoEncomenda(resinfo.situacao)" value="{{ resinfo.situacao }}"></p-tag></td>
      <td>{{ resinfo.observacoes }}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="Header" [(visible)]="mEstado" [modal]="true" [style]="{ width: '50vw' }">
  <ng-template pTemplate="header">
      <span class="text-xl font-bold">Confirmar Reserva</span>
  </ng-template>
    <div class="flex flex-row justify-around">
      <p-listbox [options]="mesasres" optionLabel="id_mesa" [style]="{'width':'15rem'}"
      [multiple]="true" emptyMessage='Não há mesas disponíveis' [(ngModel)]="mesas" [ngModelOptions]="{standalone: true}" (onClick)="getLugares($event.value)" [metaKeySelection]="false"></p-listbox>

    <div class="bg-gray-800 shadow-md">
      <span>{{totalLugares}}<span>/</span><span>{{nlugares}}</span></span>
    </div>
    </div>
  <ng-template pTemplate="footer">
      <div class="flex flex-row justify-center" *ngIf="maxlugares">
        <p-button icon="pi pi-check" label="Aceitar" (click)="confirmarRes('Aceite')" styleClass="mr-10"></p-button>
        <p-button icon="pi pi-times"  label="Cancelar" (click)="confirmarRes('Cancelada')" ></p-button>
      </div>
  </ng-template>
</p-dialog>

