<aside
  class="sidebar w-64 h-[1000px] md:shadow transform -translate-x-full md:translate-x-0 transition-transform duration-150 ease-in bg-[#0C0B09]"
>
  <div class="sidebar-header flex items-center justify-center py-4">
    <div class="inline-flex">
      <a href="#" class="inline-flex flex-row items-center">
        <span
          class="text-white font-bold text-xl leading-56 font-poppins text-center"
        >
          <span class="text-yellow-500">Menu</span> do Chefe
        </span>
      </a>
    </div>
  </div>
  <div class="sidebar-content px-4 py-6">
    <ul class="flex flex-col w-full">
      <li class="my-px">
        <span class="flex font-medium text-sm text-gray-300 px-4 my-4 uppercase"
          >nome</span
        >
      </li>
      <li class="my-px ">
        <a
        routerLinkActive="bg-[#464136] !text-white"
        [routerLink]="'/admin/dashboard'"
          class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-[#1A1814] hover:text-yellow-500"
        >
          <span class="flex items-center justify-center text-lg text-gray-400"  >
            <i class="pi pi-desktop"></i>
          </span>
          <span class="ml-3">Dashboard</span>
        </a>
      </li>
      <li class="my-px">
        <a
        routerLinkActive="bg-[#464136] !text-white"

          [routerLink]="'/admin/clientes'"
          href="#"
          class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-[#1A1814] hover:text-yellow-500"
        >
        <span class="flex items-center justify-center text-lg text-gray-400">
            <i class="pi pi-user  hover:text-yellow-500"></i>
          </span>
          <span class="ml-3">Clientes</span>
        </a>
      </li>
      <li class="my-px">
        <a
        routerLinkActive="bg-[#464136] !text-white"

          [routerLink]="'/admin/funcionarios'"
          href="#"
          class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-[#1A1814] hover:text-yellow-500"
        >
        <span class="flex items-center justify-center text-lg text-gray-400">
            <i class="pi pi-user  hover:text-yellow-500"></i>
          </span>
          <span class="ml-3">Funcionários</span>
        </a>
      </li>
      <li class="my-px">
        <a
        routerLinkActive="bg-[#464136] !text-white"
        [routerLink]="'/admin/reservas'"
          href="#"
          class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-[#1A1814] hover:text-yellow-500"
        >
          <span class="flex items-center justify-center text-lg text-gray-400">
            <i class="pi pi-calendar  hover:text-yellow-500"></i>
          </span>
          <span class="ml-3">Reservas</span>
        </a>
      </li>
      <li class="my-px">
        <a
        routerLinkActive="bg-[#464136]  !text-white"
        [routerLink]="'/admin/produtos'"
          href="#"
          class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-[#1A1814] hover:text-yellow-500"
        >
          <span class="flex items-center justify-center text-lg text-gray-400">
            <i class="pi pi-shopping-cart"></i>
          </span>
          <span class="ml-3">Produtos</span>
        </a>
      </li>
      <li class="my-px">
        <a
        [routerLink]="'/admin/encomendas'"
        routerLinkActive="bg-[#464136]  !text-white"
          class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-[#1A1814] hover:text-yellow-500"
        >
          <span class="flex items-center justify-center text-lg text-gray-400">
            <i class="pi pi-credit-card  hover:text-yellow-500"></i>
          </span>
          <span class="ml-3">Encomendas</span>
        </a>
      </li>
      <li class="my-px">
        <a
          href="#"
          class="flex flex-row items-center h-10 px-3 rounded-lg text-gray-300 hover:bg-[#1A1814] hover:text-yellow-500"
        >
          <span class="flex items-center justify-center text-lg text-red-400">
                <i class="pi pi-sign-out"></i>
          </span>
          <span class="ml-3">Logout</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
