<div class="flex flex-col self-start m-10 ">
  <p class="text-[36px] font-bold text-yellow-500">
    Clientes
      </p>
      <hr class=" border-yellow-500 border-b-2 w-[200px]"/>
    

</div>
<div>
  <div class="card m-5">
    <p-table [value]="clientinfo"
  [globalFilterFields]="['nome', 'email', 'telefone', 'morada','codPostal']"
  selectionMode="single"
  [(selection)]="selectedCli"
  [paginator]="true"
  [rows]="5"
  [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
  (onRowSelect)="clienteInfo()">
  <ng-template pTemplate="header">
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Morada</th>
      <th>Código Postal</th>
    </tr>
    <tr>
      <th>
        <p-columnFilter type="text" field="nome"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="email"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="telefone"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="morada"></p-columnFilter>
      </th>
      <th>
        <p-columnFilter type="text" field="codPostal"></p-columnFilter>
      </th>


    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cliente>
    <tr [pSelectableRow]="cliente">
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.telefone }}</td>
      <td>{{ cliente.morada }}</td>
      <td>{{ cliente.codPostal }}</td>
    </tr>
  </ng-template>
</p-table>
</div>

<p-dialog header="Header" [(visible)]="cliModal" [modal]="true"  [style]="{ width: '50vv'}">
  <ng-template pTemplate="header">
      <span class="text-xl font-bold">Atualizar Cliente</span>
  </ng-template>
  <div class="flex flex-row justify-between">
<div class="flex flex-row justify-between gap-12 items-center mr-10" *ngIf="selectedCli">
  <input type="text" pInputText [(ngModel)]="this.selectedCli!.nome" [ngModelOptions]="{standalone: true}" />
  <input type="text" pInputText [(ngModel)]="this.selectedCli!.email" [ngModelOptions]="{standalone: true}" />
  <p-inputNumber type="text" [(ngModel)]="this.selectedCli!.telefone" [ngModelOptions]="{standalone: true}" />
  <input type="text" pInputText [(ngModel)]="this.selectedCli!.morada" [ngModelOptions]="{standalone: true}" />
  <input type="text" pInputText [(ngModel)]="this.selectedCli!.codPostal" [ngModelOptions]="{standalone: true}" />

</div>
  </div>
  <ng-template pTemplate="footer">
      <div class="flex flex-row justify-center">
        <p-button icon="pi pi-check" label="Atualizar" (onClick)="updateCliente()" ></p-button>
        <p-button icon="pi pi-times"  label="Cancelar" (onClick)="cliModal = false"></p-button>
      </div>
  </ng-template>
</p-dialog>
</div>
