<div class="flex flex-row justify-center w-[1835px] m-5" [routerLink]="'clientes'" >
  <app-infocard class="w-full" [descricao]="'Nº de Utilizadores'" [valor]="Usercount" [corBackground]="'bg-yellow-500'"></app-infocard>
  <app-infocard class="w-full" [descricao]="'Nº de Reservas'" [valor]="ResCount" [corBackground]="'bg-yellow-500'"></app-infocard>
  <app-infocard class="w-full" [descricao]="'Lucros Mensais'" [valor]="lucro | currency: 'EUR'" [corBackground]="'bg-yellow-500'"></app-infocard>
</div>


